#slider {

    div {
        text-align: center;
        margin: 0;
        height: 700px;
        width: 100%;
        background: url("./banner_sample.png") center / 1900px 700px no-repeat rgb(0, 0, 0);
    }
}