a {
    outline: none;
}

#slider-container {
    width: 100%;
    height: 768px;
    overflow: hidden;

    .banner-container {
        width: 100%;
        height: 768px;
        overflow: hidden;
        background-color: black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .button-container {
            position: relative;
            width: 180px;
            height: 50px;
            transform: translate(-50%, -50%);
            left: 50%;
            background: none;
            border: 1px solid rgba(255, 255, 255, 0.5);
            color: white;
            text-align: center;
            font-size: 1.3rem;
            
            
            p {
                position: relative;
                transform: translateY(-50%);
                top: 50%;
                font-family: 'NanumSquare', sans-serif;                
                font-weight: 400;
            }

            &:hover {
                border-color: white;
            }
        }
    }

}

#slider-dots-container {
    position: relative;
    top: -80px;
    width: 120px;
    height: 40px;
    background: olive;
    transform: translateX(-50%);
    left: 50%;

    .slider-dots {
        overflow: hidden;
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        border: 0;
        background-color: #fff;
        color: transparent;
        line-height: 50px;
        opacity: .3;
    }
}

@media screen and (min-width: 2000px) {

    #slider-container {

        height: 1024px;
    
        .banner-container {
            height: 1024px;
        }
    }
}


@media screen and (max-width: 1200px) {

    #slider-container {
        height: 480px;

        .banner-container {
            height: 480px;
        }
    }
}

@media screen and (max-width: 768px) {

    #slider-container {

        height: 320px;

        .banner-container {
            height: 320px;

            .button-container {
                width: 100px;
                height: 30px;
                font-size: 0.8rem;
            }

        }
    }
}

@media screen and (max-width: 600px) {

    #slider-container {

        height: 240px;

        .banner-container {
            height: 240px;

            .button-container {
                width: 90px;
                height: 24px;
                font-size: 0.75rem;
            }
        }
    }
}