@import '~include-media/dist/include-media';

#post-list {
    position: relative;
    width: 1200px;
    left: 50%;
    padding: 40px 30px;
    transform: translateX(-50%);

    @include media("<1200px") {
        width: 100%;
    }
    
    @media screen and (max-width: 768px) {
        padding: 10px 20px;
    }
}