
.quick-link-wrapper {
    position: relative;        
    width: 1200px;
    transform: translateX(-50%);
    left: 50%;
    padding: 0 30px;

    @media screen and (max-width: 1200px) {
        width: 100%;
        padding: 0 15px;
    }

    .quick-link-title {
        font-family: 'NanumSquare', sans-serif;
        font-weight: 300;
        font-size: 3.5rem;
        color: #373737;
        margin: 0;
        padding-top: 80px;
        text-align: center;

        @media screen and (max-width: 768px) {
            font-size: 1.7rem;
            padding-top: 30px;
        }
    }

    .quick-link-container {
        width: 100%;
        height: 300px;
        text-align: center;
        margin-bottom: 40px;

        @media screen and (max-width: 1200px) {
            height: 200px;
        }

        @media screen and (max-width: 768px) {
            height: 100px;
            padding-top: 10px;
        }
    }

    .quick-link-item {
        display: inline-block;
        width: 300px;
        height: 100%;
        margin: 20px;
        background: white;        
        box-shadow: 0 0 0 2px rgba(white, 0.2) inset;

        @media screen and (max-width: 1200px) {
            width: 200px;
            margin: 15px;
        }

        @media screen and (max-width: 768px) {
            width: 100px;
            margin: 5px;
        }

        transition-property: background-color;
        transition-duration: 0.2s;
        transition-timing-function: ease;

    }

    $item1color: #12153b;
    $item2color: #9c2862;
    $item3color: #ce8424;
    $item4color: #c24766;
    $item5color: #92ca64;
    
    .item1 {
        border: 2px solid darken($item1color, 5%);
        &:hover {
            background-color: lighten($item1color, 5%);
        }
    }

    .item2 {
        border: 2px solid darken($item2color, 5%);
        &:hover {
            background-color: lighten($item2color, 5%);
        }
    }

    .item3 {
        border: 2px solid darken($item3color, 5%);
        &:hover {
            background-color: lighten($item3color, 5%);
        }
    }

    .item4 {
        border: 2px solid darken($item4color, 5%);
        &:hover {
            background-color: lighten($item4color, 5%);
        }
    }

    .item5 {
        border: 2px solid darken($item5color, 5%);        
        &:hover {
            background-color: lighten($item5color, 5%);
        }
    }
}

.who-are-you-container {
    width: 100%;
    height: 360px;
    background: slategray;
    text-align: center;
    margin: 0;

    @media screen and (max-width: 768px) {
        height: 180px;
    }

    .who-are-you {        
        position: relative;
        font-family: 'NanumSquare', sans-serif;
        font-size: 4.2rem;
        font-weight: 700;        
        color: white;
        transform: translateY(-50%);
        top: 50%;

        @media screen and (max-width: 768px) {
            font-size: 2rem;
        }
    }
}






    
