#nav-dropdown-item {
    background: url(../../images/dropdown_item.png) no-repeat;
    width: 100%;
    height: 50px;

    &:hover {
        background: url(../../images/dropdown_item_active.png) no-repeat;
    }

    #nav-dropdown-item-inner {
        height: 100%;
        text-align: left;

        #nav-dropdown-item-content-title {
            display: inline-block;
            padding: 14px 20px;
            p {
                font-family: 'NanumSquare', sans-serif;                
                font-weight: 700;
                font-size: 1.2rem;
                color: white;
            }
        }

        #nav-dropdown-item-content {
            display: inline-block;
            top: 20px;
            left: 20px;
            p {
                font-weight: 300;
                font-size: 0.8rem;
                color: white;
            }

            
        }
    }
}