#nav-item-container {

    position: relative;
    float: left;
    padding: 7px 12px;
    text-align: center;
    height: 100%;
    position: relative;
    $dropdown-height: 0;
    text-decoration: none;
    transition: 0.2s;

    #nav-item {
        position: relative;
        padding: 14px 15px;
    }
}
