.sidebar-button {
    visibility: hidden;
    position: fixed;
    left: 20px;
    width: 36px;
    height: 36px;
    background: url(images/menu_button.svg) center no-repeat;
    z-index: 200;
    @media screen and (max-width: 768px) {
            visibility: visible;
    }
}

